.flex1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px red;
    margin: 10px;
    height: 40px;
    background-color: aqua;
    
}
label{
    padding: 10px;
}
input:hover{
    background-color: rgb(172, 28, 28);
}